@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Suspense {
  font-family: "Courier New, Courier, monospace";
  font-size: 100px;
}

.main-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(173, 70, 70);
}

.essay {
  padding: 20px;
  font-size: 1.1rem;
  line-height: 1.8;
  border-radius: 12px;
  background-color: #333;
  color: #fff;
  border: none;
}
.Blogs {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
  width: 750px;
  margin: 40px 0;
  background-color: rgb(234, 227, 227);
  transition: transform 0.2s, box-shadow 0.2s;
}

.Blogs:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.Blogs p {
  line-height: 1.7;
  margin-bottom: 1rem;
}

button {
  border-radius: 10px;
  width: 90px;
  height: 30px;
  color: white;
  background-color: black;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff4b4b;
  transform: scale(1.05);
}
.Blog-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.BackHome {
  margin-top: "20px";
  padding: "10px 20px";
  border-radius: "10px";
  background-color: "black";
  color: "white";
  cursor: "pointer";
}

.Mbappe {
  color: red;
  font-size: larger;
}

.Error {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 80px;
  background-color: black;
  color: red;
}

.Error button {
  width: 200px;
  height: 70px;
  color: white;
  background-color: red;
}
